{% load static %}

<link rel="stylesheet" href="{% static 'postings/style.css' %}">

<div class="request-form">
    <form action="{% url 'crawl' %}" method="post">
        {% csrf_token %}
        <fieldset>
            {% if error_message %}<p class="error-msg">{{ error_message }}</p>{% endif %}
            {% if info_message %}<p class="info-msg">{{ info_message }}</p>{% endif %}
            <div class="radio-group">
                <p class="form-title">Posting category</p>
                <input type="radio" id="choice1" name="category", value="choice1" checked />
                <label for="choice1">Apartments</label><br>
                <input type="radio" id="choice2" name="category" value="choice2" />
                <label for="choice2">Houses</label><br>
                <input type="radio" id="choice3" name="category" value="choice3" />
                <label for="choice3">Estates</label><br>
                <input type="radio" id="choice4" name="category" value="choice4" />
                <label for="choice4">Commercial</label><br>
            </div>
            <div class="scrap-limit">
                <label class="form-title" for="scrap-limit">To scrap: </label><br>
                <input type="number" id="scrap-limit" name="scrap-limit" min="10" /><br>
            </div>


            <div class="submit-button">
                <input type="submit" value="Crawl sreality">
            </div>
        </fieldset>
    </form>
</div>

<div class="postings-list">
    <h1>Scrapped Postings</h1>
    {% for posting in page_obj %}
    <div class="postings-item">
        <img src={{ posting.image_link }} height="100", width="133">
        <a href="{% url 'detail' posting.id %}">{{ posting.name }}</a><br>
    </div>
    {% if forloop.last %}
    <div class="pagination">
        <span class="step-links">
            {% if page_obj.has_previous %}
                <a href="?page=1">&laquo; first</a>
                <a href="?page={{ page_obj.previous_page_number }}">previous</a>
            {% endif %}

            <span class="pagination-text">
                Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
            </span>

            {% if page_obj.has_next %}
                <a href="?page={{ page_obj.next_page_number }}">next</a>
                <a href="?page={{ page_obj.paginator.num_pages }}">last &raquo;</a>
            {% endif %}
        </span>
    </div>
</div>
    {% endif %}

{% empty %}
<p>No postings were scraped.</p>
{% endfor %}
