{% load static %}

<link rel="stylesheet" href="{% static 'postings/style.css' %}">
<form action="{% url 'crawl' %}" method="post">
    {% csrf_token %}
    <fieldset>
        <input type="radio" id="apartments" name="category", value="Apartments">
        <label for="apartments">Apartments</label><br>
        <input type="submit" value="Request Crawl">
    </fieldset>
</form>

<div class="postings-list">
    <h1>Scrapped Postings</h1>
    {% for posting in page_obj %}
    <div class="postings-item">
        <img src={{ posting.image_link }} height="100", width="133">
        <a href="{% url 'detail' posting.id %}">{{ posting.name }}</a><br>
    </div>
    {% if forloop.last %}
    <div class="pagination">
        <span class="step-links">
            {% if page_obj.has_previous %}
                <a href="?page=1">&laquo; first</a>
                <a href="?page={{ page_obj.previous_page_number }}">previous</a>
            {% endif %}

            <span class="pagination-text">
                Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
            </span>

            {% if page_obj.has_next %}
                <a href="?page={{ page_obj.next_page_number }}">next</a>
                <a href="?page={{ page_obj.paginator.num_pages }}">last &raquo;</a>
            {% endif %}
        </span>
    </div>
</div>
    {% endif %}

{% empty %}
<p>No postings were scraped.</p>
{% endfor %}
